<%- include('partials/header', {title:"Musician Details"}) -%>
<head>
  <link rel="icon" type="image/png" href="images/logo.png" />
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>
<h2>Musician - <%=musician.name%></h2>

<table>
  <tr>
    <th>
      Stage Name:
    </th>
    <td>
      <%=musician.stageName%>
    </td>
  </tr>
  <tr>
    <th>
      Name:
    </th>
    <td>
      <%=musician.name%>
    </td>
  </tr>
  <tr>
    <th>
      Years of Experience:
    </th>
    <td>
      <%=musician.years%>
    </td>
  </tr>
  <tr>
    <th>
      Label:
    </th>
    <td>
      <%=musician.label%>
    </td>
  </tr>
  <tr>
    <th>
      Genre:
    </th>
    <td>
      <%=musician.genre%>
    </td>
  </tr>
  <tr>
    <th>
      Track Count:
    </th>
    <td>
      <%=musician.count%>
    </td>
  </tr>
  <tr>
    <th>
      Tracks:
    </th>
    <td>
      <%=musician.tracks%>
    </td>
  </tr>
  <tr>
    <th>
      Biography:
    </th>
    <td>
      <%=musician.bio%>
    </td>
  </tr>
</table>

<%- include('partials/footer') -%>
