<%- include('partials/header', {title:"Musicians"}) -%>
<head>
  <link rel="icon" type="image/png" href="images/logo.png" />
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>

<h2>Musicians</h2>
<table>
  <tr>
    <th>
      Stage Name
    </th>
    <th>
      Name
    </th>
    <th>
      Years of Experience
    </th>
    <th>
      Label
    </th>
    <th>
      Musical Style
    </th>
    <th>
      Track Count
    </th>
    <th>
      Tracks
    </th>
  </tr>
  <%for(let i =0; i<musicians.length; i++){%>
  <th>
    <a href="/musician/<%=musicians[i].stageName%>"><%=musicians[i].stageName%></a>
  </th>
  <th>
    <%=musicians[i].name%>
  </th>
  <th>
    <%=musicians[i].years%>
  </th>
  <th>
    <%=musicians[i].label%>
  </th>
  <th>
    <%=musicians[i].genre%>
  </th>
  <th>
    <%=musicians[i].count%>
  </th>
  <th>
    <%let tracks = musicians[i].tracks%>
    <%let trackString = tracks.toString()%>
    <%let trackArray = trackString.split(",");%>
    <%trackArray.forEach(function(val){%>
  <a href="/track/<%=val%>"><%=val%></a>
    <%})%>
  </th>
  </tr>
  <%}%>
</table>

  <%- include('partials/footer') -%>
