<%- include('partials/header', {title:"Musician Details"}) -%>

<h2>Musician - <%=musician.stageName%></h2>

<table>
  <tr>
    <th>
      Stage Name:
    </th>
    <td>
      <%=musician.stageName%>
    </td>
  </tr>
  <tr>
    <th>
      Name:
    </th>
    <td>
      <%=musician.name%>
    </td>
  </tr>
  <tr>
    <th>
      Years of Experience:
    </th>
    <td>
      <%=musician.years%>
    </td>
  </tr>
  <tr>
    <th>
      Label:
    </th>
    <td>
      <%=musician.label%>
    </td>
  </tr>
  <tr>
    <th>
      Genre:
    </th>
    <td>
      <%=musician.genre%>
    </td>
  </tr>
  <tr>
    <th>
      Track Count:
    </th>
    <td>
      <%=musician.count%>
    </td>
  </tr>
  <tr>
    <th>
      Tracks:
    </th>
    <td>
      <%=musician.tracks%>
    </td>
  </tr>
  <tr>
    <th>
      Biography:
    </th>
    <td>
      <%=musician.bio%>
    </td>
  </tr>
</table>

<%- include('partials/footer') -%>
