<%- include('partials/header', {title:"Tracks"}) -%>
<head>
  <link rel="icon" type="image/png" href="images/logo.png" />
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>
<h2>Tracks</h2>
<table>
  <tr>
    <th>
      Title
    </th>
    <th>
      Release Date
    </th>
    <th>
      Musicians
    </th>
    <th>
      Label
    </th>
    <th>
      Genre
    </th>
    <th>
      Commentary
    </th>
  </tr>
  <%for(let i =0; i<tracks.length; i++){%>
  <th>
    <a href="/track/<%=tracks[i].title%>"><%=tracks[i].title%></a>
  </th>
  <th>
    <%=tracks[i].date%>
  </th>
  <th>
    <%let musicians = tracks[i].musicians%>
    <%let musicianString = musicians.toString()%>
    <%let musicianArray = musicianString.split(",");%>
    <%musicianArray.forEach(function(val){%>
  <a href="/musician/<%=val%>"><%=val%></a>
    <%})%>
  </th>
  <th>
    <%=tracks[i].label%>
  </th>
  <th>
    <%=tracks[i].genre%>
  </th>
  <th>
    <%=tracks[i].commentary%>
  </th>
  </tr>
  <%}%>
</table>

  <%- include('partials/footer') -%>
