<%- include('partials/header', {title:"Tracks"}) -%>

<h2>Tracks</h2>
<table>
  <tr>
    <th>
      Title
    </th>
    <th>
      Release Date
    </th>
    <th>
      Musicians
    </th>
    <th>
      Label
    </th>
    <th>
      Genre
    </th>
    <th>
      Commentary
    </th>
  </tr>
  <%for(let i =0; i<tracks.length; i++){%>
  <th>
    <a href="/track/<%=tracks[i].title%>"><%=tracks[i].title%></a>
  </th>
  <th>
    <%=tracks[i].date%>
  </th>
  <th>
    <%=tracks[i].musicians%>
  </th>
  <th>
    <%=tracks[i].label%>
  </th>
  <th>
    <%=tracks[i].genre%>
  </th>
  <th>
    <%=tracks[i].commentary%>
  </th>
  </tr>
  <%}%>
</table>

  <%- include('partials/footer') -%>
